<%- include('../partials/header') %>

<h1 class="display-4">Do I have skills? ... perhaps.</h1>
<ul class="list-group bg-secondary">
  <% devSkills.forEach(function(skill) { %>
  <li class="list-group-item">
    <form
      action="/devSkills/<%= skill.id %>?_method=DELETE"
      method="POST"
      class="delete-form"
    >
      <button class="btn btn-danger">X</button>
    </form>
    <a href="/devSkills/<%= skill.id %>" class="btn btn-info"
      ><%= skill.skill %></a
    >
  </li>
  <% }); %>
</ul>
<a href="/devSkills/new" class="btn btn-primary">Add Skill</a>

<%- include('../partials/footer') %>
