<%- include('../partials/header') %>

<h3><%= skill.skill %></h3>
<h3>Comfort: <%= skill.comfort %></h3>
<a href="/devSkills/<%= skill.id %>/edit" class="btn btn-warning">Edit Skill</a>

<%- include('../partials/footer') %>